[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
ptvsd = "*"
django-template-debug = "*"
pillow = "*"
django-debug-toolbar = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
uwsgi = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.9"
