{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
{% load account %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Homepage</h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder aria-label="Search">
    </form>
    {% get_providers as socialaccount_providers %}
    
    {% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
    {% for brand in provider.get_brands %}
    <li>
        <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}"
            href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
    </li>
    {% endfor %}
    {% endif %}
    <li>
        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
    </li>
    {% endfor %}
{% endblock content %}